<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                Hello, {{user.username}}
                <li><a href="{% url 'logout'%}">Logout</a></li>
                <li><a href="{% url 'signup'%}">Create new user</a></li>
                <li><a href="{% url 'login'%}">Login</a></li>
                <li><a href="{% url 'create_receipt'%}">create receipt</a></li>
                <li><a href="{% url 'accounts_list'%}">Accounts list</a></li>
                <li><a href="{% url 'create_account'%}">create account</a></li>
                <li><a href="{% url 'category_list'%}">Category list</a></li>
                <li><a href="{% url 'create_category'%}">create category</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Account list</h1>
        <table>
            <thead>
                <td>Name</td>
                <td>Number</td>
                <td>Number of receipts</td>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{ account.name  }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{  account.receipts.all|length  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
