<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            Hello, {{user.username}}
            <li><a href="{% url 'logout'%}">Logout</a></li>
            <li><a href="{% url 'signup'%}">Create new user</a></li>
            <li><a href="{% url 'login'%}">Login</a></li>
            <li><a href="{% url 'create_receipt'%}">create receipt</a></li>
            <li><a href="{% url 'accounts_list'%}">Accounts list</a></li>
            <li><a href="{% url 'create_account'%}">create account</a></li>
            <li><a href="{% url 'category_list'%}">Category list</a></li>
            <li><a href="{% url 'create_category'%}">create category</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
  <main>
        <h2>Category list</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of receipts</th>

      </tr>
    </thead>
    <tbody>
        {% for category in categories_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.all|length }}</td>
          </tr>
        {% endfor %}
      </tbody>

  </table>
    </main>

</body>
</html>
